@import './base.css';

#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top;
  }

  #app {
    display: grid;
    grid-template-rows: 150px;
    padding: 0 2rem;
    width: 100vw;
    height: 100vh;
  }
}

.contentBox {
  padding: 20px;
  border: 2px solid rgb(123, 123, 123);
  border-radius: 10px;
  margin: 50px;
  justify-content: center;
}

.mainWrapper {
  background-color: rgb(33, 33, 33);
}

.loginBox {
  padding: 20px;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 10px;
  margin: 50px;
  display: block;
  text-align: center;
}

.welcomeBox {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.textBox {
  background-color: rgb(85, 85, 85);
  border-radius: 10px;
  border: 2px solid gray;
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 5px;
  color: white;
}

.textBox:hover {
  border: 3px solid gray;
}

.textBox:focus {
  background-color: rgb(136, 136, 136);
}

button.generic {
  background-color: white;
  border-radius: 10px;
  border: 2px solid gray;
  width: 300px;
  height: 40px;
  text-align: center;
  margin: 10px;
}

button.generic:hover {
  background-color: rgb(206, 206, 206);
}

button.generic:active {
  background-color: rgb(136, 136, 136);
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"]::before {
  content: "Choose a file";
  display: block;
  background-color: white;
  border-radius: 10px;
  border: 2px solid gray;
  width: auto;
  height: 40px;
  justify-content: center;
  text-align: center;
  margin: 10px;
  -webkit-user-select: none;
  color: black;
}

input[type="file"]:hover::before {
  background-color: rgb(206, 206, 206);
}

input[type="file"]:active::before {
  background-color: rgb(136, 136, 136);
}