@import './base.css';

#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: top;
  }

  #app {
    display: grid;
    grid-template-rows: 150px;
    padding: 0 2rem;
    width: 100vw;
    height: 100vh;
  }
}

.contentBox {
  padding: 20px;
  border: 2px solid rgb(123, 123, 123);
  border-radius: 10px;
  margin: 50px;
  justify-content: center;
}

.mainWrapper {
  background-color: rgb(33, 33, 33);
}

.loginBox {
  padding: 20px;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 10px;
  margin: 50px;
}

.welcomeBox {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}